<h1>ASK PAGE</h1>
  <%# <input type="text" name="question">
  <input type="submit" value="Ask!"> %>

<form action="/answer" data-turbo="false">
  <label for="question">Ask your coach anything:</label>
<div class="input-group mb-3">
  <input type="text" name='question' class="form-control">
  <input class="btn btn-primary" type="submit" id="button-addon2" value='Ask!'>
</div>
</form>
